<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="author" content="Gabriel Rufino">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">

    <title>kdAstro</title>
  </head>
  <body>
    <div class="container">
      <header class="text-center my-4">
        <h1 class="display-4">
          kd<span class="text-info">Astro</span>
        </h1>
        <small>Simples cadastro de Pessoa Física e de outros dados.</small>
      </header>

			<div class="jumbotron">
				<h2 class="display-4">Você está cadastrado!</h2>
				<hr>
				
				<p class="lead text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

				<div class="text-right mt-4">
					<button class="btn btn-outline-info btn-lg">Sobre</button>
					<button class="btn btn-outline-info btn-lg">F.A.Q.</button>
					<button class="btn btn-info btn-lg">Contato</button>
				</div>
			</div>
		</div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="js/jquery.slim.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>