<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Gabriel Rufino">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">

    <title>kdAstro</title>
  </head>
  <body class="bg-light">
    <div class="container px-5">
      <header class="text-center my-4">
        <h1 class="display-4">
          kd<span class="text-info">Astro</span>
        </h1>
        <small>Simples cadastro de Pessoa Física e de outros dados.</small>
      </header>
    
      <form action="/registrar">
        <div class="form-group">
          <label class="text-info">Nome Completo</label>
          <input class="form-control" type="text" name="nome" id="nome" maxlength="995" placeholder="Insira Seu Nome Completo Aqui" required>
        </div>
        
        <div class="form-row">
          <div class="col-md-6">
            <div class="form-group">
              <label class="text-info">Data de Nascimento</label>
              <input class="form-control" name="nascimento" id="nascimento" type="date" required>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="text-info">CPF</label>
              <input class="form-control" type="text" name="cpf" id="cpf" minlength="11" maxlength="11" onblur="validateCPF()" placeholder="12345678909" required>
              <small class="text-danger" id="cpf-warning"></small>
            </div>
          </div>
        </div>

        <hr class="mx-5">

        <div class="form-row">
          <div class="col-md-3">
            <div class="form-group">
              <label class="text-info">CEP</label>
              <input class="form-control" type="text" name="cep" id="cep" minlength="8" maxlength="8" onblur="fillAddresses()" placeholder="54100310" required>
            </div>
          </div>
          <div class="col-md-9">
            <div class="form-group">
              <label class="text-info">Estado</label>
              <select class="form-control" name="estado" id="estado" required>
                <option value="" selected disabled>Selecione seu estado</option>
                <option value="AC">Acre</option>
                <option value="AL">Alagoas</option>
                <option value="AP">Amapá</option>
                <option value="AM">Amazonas</option>
                <option value="BA">Bahia</option>
                <option value="CE">Ceará</option>
                <option value="DF">Distrito Federal</option>
                <option value="ES">Espírito Santo</option>
                <option value="GO">Goiás</option>
                <option value="MA">Maranhão</option>
                <option value="MT">Mato Grosso</option>
                <option value="MS">Mato Grosso do Sul</option>
                <option value="MG">Minas Gerais</option>
                <option value="PA">Pará</option>
                <option value="PB">Paraíba</option>
                <option value="PR">Paraná</option>
                <option value="PE">Pernambuco</option>
                <option value="PI">Piauí</option>
                <option value="RJ">Rio de Janeiro</option>
                <option value="RN">Rio Grande do Norte</option>
                <option value="RS">Rio Grande do Sul</option>
                <option value="RO">Rondônia</option>
                <option value="RR">Roraima</option>
                <option value="SC">Santa Catarina</option>
                <option value="SP">São Paulo</option>
                <option value="SE">Sergipe</option>
                <option value="TO">Tocantins</option>
              </select>
            </div>
          </div>
        </div>

        <div class="form-row">
          <div class="col-md-6">
            <div class="form-group">
              <label class="text-info">Cidade</label>
              <input class="form-control" type="text" name="cidade" id="cidade" maxlength="100" placeholder="Sua Cidade" required>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="text-info">Bairro</label>
              <input class="form-control" type="text" name="bairro" id="bairro" maxlength="100" placeholder="Seu Bairro" required>
            </div>
          </div>
        </div>

        <div class="form-row">
          <div class="col-md-9">
            <div class="form-group">
              <label class="text-info">Endereço</label>
              <input class="form-control" type="text" name="endereco" id="endereco" maxlength="100" placeholder="Seu Endereço" required>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label class="text-info">Número</label>
              <input class="form-control" type="number" name="numero" id="numero" placeholder="Número">
            </div>
          </div>
        </div>

        <div class="form-group">
          <label class="text-info">Complemento</label>
          <input class="form-control" type="text" name="complemento" id="complemento" maxlength="100" placeholder="Complemento do Endereço">
        </div>

        <button type="submit" class="btn btn-info btn-block">Cadastrar</button>
      </form>
    </div>



    <!-- Optional JavaScript -->
    <script src="js/kdAstro.js"></script> <!-- kdAstro Functions -->

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="js/jquery.slim.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>